body {
  padding-top: 8em;
}

.container {
  width: 50%;
  margin: 0 auto;
  background: #555;
  display: flex;
  flex-direction: column;
}
.entry {
  width: 100%;
  height: 40px;
  background: palevioletred;
  border-width: 2px 2px 0 2px;
  border-color: darkslategray;
  border-style: solid;
  display: flex;
  flex-direction: row;
  font-size: 28px;

  .icon i {
    flex-basis: 10%;
    color: #333;
    padding: 6px;
  }
  .complete i {
    flex-basis: 10%;
    color: #333;
    padding: 6px;
  }
  .todo {
    flex-basis: 80%;
    font-size: 18px;
    color: #eee;
    line-height: 2.5;
    overflow: hidden;
    padding-left: 1rem
  }
}
  .entry:last-of-type {
    border-bottom-width: 2px;
  }
